<h5>投稿詳細</h5>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <% if @post.image.attached? %>
            <% @post.image.each do |image| %>
            <%= image_tag image.variant(resize: '500x500') %>
            <% end %>
            <% end %>
        </div>
        <div class="col-md-7">
            <%= @recipe.title %>
            <%= @recipe.nickname %>
            <%= @recipe.body %>
        </div>
    </div>
</div>