<div class="text-center">
  <p>
    ようこそ、shopping_listsへ<br>
    このサイトでは、作りたいレシピを検索することができます。<br>
    また、購入リストを自分複数作成することができ、リストを選んで商品を追加することができます。<br>
    リスト詳細画面を開きながら実際に買い物をして頂くことで、買い忘れを防止することができます。<br>
    さらにご自身が作ったレシピを投稿することができます。
  </p>
</div>
