<h5><%= @customer.nickname %>の投稿ページ</h5>
フォロワー数
フォロー数

<% @recipes.each do |recipe| %>
    <% if @recipe.image.attached? %>
        <% @recipe.image.each do |image| %>
            <%= image_tag image.variant(resize: '500x500') %>
        <% end %>
    <% end %>
    <%= link_to recipe_path(recipe) do %>
        <%= recipe.title %>
    <% end %>
<% end %>

<% link_to "削除する", admin_customer_path(@customer), method: :delete, "data-confirm" => "本当に削除しますか？" %>