@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  margin-bottom: 5px;
  border-bottom: 2px solid #000;
}

.item-index {
  
}

.search-form {
  float: right;
}

.all-destroy {
  float: right;
}

.index-recipe-img {
  width: auto;
  height: 100px;
}

.show-recipe-image{
   width: 100%;
  height: auto;
}

.new-line {
  white-space: pre-wrap;
}