/* ボタン */
.js-trigger {
  border: 1px solid #999;
  background: transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

.f-right {
  margin-left: auto;
}

/* メニュー */
.sidebar {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .3s;
  margin-top: 30px;
}

.nav-item {
  margin: 10px 0;
  list-style: none;
  white-space: nowrap;
}

.open-sidebar {
  width: 20%;
}

.slide-right {
  width: 77%;
  float: right;
  transition: 1s;
}