<h5 class="d-inline-block">カテゴリー編集</h5>
<div class="container rw-80 mx-auto">
  <%= form_with model: @category, url: admin_category_path(@category.id), method: :patch do |f| %>
  <div class="row">
    <label class="col-md-2 col-sm-10 col-form-label w-100 d-inline mb-1 mt-2">カテゴリー名</label>
    <div class="col-md-4 col-sm-10 d-inline mb-1 mt-2"><%= f.text_field :category_name, class: "form-control" %></div>
    <div class="actions col-md-4 mt-3"><%= f.submit '変更を保存', class:'btn-primary px-3' %></div>
  <% end %>
  </div>
</div>